{% extends 'base.html.twig' %}

{% block title %}Modifier Article{% endblock %}

{% block body %}
    <h1>Modifier Article</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.nom, 'Nom') }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nom) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.prix, 'Prix') }}
            {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.prix) }}
        </div>
        
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <!--<a href="{{ path('app_article_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <form method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" style="display: inline-block">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>-->
{% endblock %}