{% extends 'base.html.twig' %}

{% block title %}Ajouter Article{% endblock %}

{% block body %}
    <h1>Ajouter Article</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="mb-3">
            {{ form_label(form.nom, 'Nom') }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control' ~ (form.nom.vars.valid ? '' : ' is-invalid')}}) }}
            {% if not form.nom.vars.valid %}
                <div class="invalid-feedback">
                    {{ form_errors(form.nom) }}
                </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.prix, 'Prix') }}
            {{ form_widget(form.prix, {'attr': {'class': 'form-control' ~ (form.prix.vars.valid ? '' : ' is-invalid')}}) }}
            {% if not form.prix.vars.valid %}
                <div class="invalid-feedback">
                    {{ form_errors(form.prix) }}
                </div>
            {% endif %}
        </div>
        
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}